{% extends 'base.html.twig' %}

{% block title %}New NumeroLoteria{% endblock %}

{% block body %}
    <h1>Create new NumeroLoteria</h1>

    {{ include('numero_loteria/_form.html.twig') }}

    <a href="{{ path('app_numero_loteria_index') }}">back to list</a>
{% endblock %}
